* {
    font-family: "Avenir", sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(121, 201, 211);
    text-decoration: underline;
}

.link_line {
    text-decoration: underline;
}

.clear {
    clear: both;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.margin_left {
    margin-left: auto;
}

.margin_right {
    margin-right: auto;
}

.img_size {
    width: 100%;
}

#plush-size {
    width: 55%;
}

ul {
    list-style-type: none;
}

#nav-links {
    text-align: right;
    width: 35%;
    margin-right: 2%;
    padding: 10px;
}

li {
    display: inline;
}

.margin-right {
    margin-right: 5%;
}

h1 {
    text-align: center;
    font-size: 24pt;
}

#intro {
    text-align: center;
    padding: 10px;
    margin-top: 8%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#cccd {
    width: 31.33%;
    height: 400px;
    float: left;
    text-align: center;
    margin: 1%;
}

#dcf {
    width: 31.33%;
    height: 400px;
    float: left;
    text-align: center;
    margin: 1%;
}

#code {
    width: 31.33%;
    height: 400px;
    float: left;
    text-align: center;
    margin: 1%;
}

footer {
    padding: 10px;
    clear: both;
    text-align: center;
    background-color: rgb(237, 236, 224);
    padding: 20px;
    width: 100%;
}

.title-size {
    font-size: 16pt;
}

button {
    background-color: white;
}

button:hover {
    background-color: rgb(237, 236, 224);
    color: rgb(28, 66, 71);
}

header {
    padding-bottom: 10px;
    background-color: rgb(237, 236, 224);
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
}

aside {
    padding: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #000;
    color: white;
    display: none;
    opacity: .90;
    width: 100%;
}

aside p {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: left-align;
    width: 70%;
}

aside h2 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

aside #close_1 {
    position: absolute;
    top: 10%;
    right: 30px;
    font-size: 20pt;
}

aside #close_2 {
    position: absolute;
    top: 10%;
    right: 30px;
    font-size: 20pt;
}

aside #close_3 {
    position: absolute;
    top: 10%;
    right: 30px;
    font-size: 20pt;
}

.img-aside {
    width: 20%;
}

.img-big {
    width: 40%;
    float: left;
    margin-right: 20px;
}


/*apply to ul*/

.img-list {
    margin-left: 20%;
}

.aside_link {
    color: white;
}

.img_fill {
    width: 100%;
}


/*interface result size*/

.img-interface {
    width: 15%;
}

#result_interface {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.dis_img {
    margin-right: 10px;
}