* {
    font-family: "Avenir", sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(121, 201, 211);
    text-decoration: underline;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.margin_left {
    margin-left: auto;
}

.margin_right {
    margin-right: auto;
}

#nav-links {
    text-align: right;
    width: 40%;
    margin-right: 2%;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
    margin-left: 5%;
}

h1 {
    text-align: center;
    font-size: 24pt;
}

img {
    width: 25%;
    float: left;
    margin-right: 20px;
    margin-bottom: 100px;
}

#intro {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 90%;
}

footer {
    background-color: rgb(237, 236, 224);
    clear: both;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.title-size {
    font-size: 14pt;
    width: 20%;
    padding: 20px;
}

#resume {
    float: right;
}

header {
    background-color: rgb(237, 236, 224);
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
}
