* {
    font-family: "Avenir", sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(121, 201, 211);
    text-decoration: underline;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.margin_left {
    margin-left: auto;
}

.margin_right {
    margin-right: auto;
}

#nav-links {
    width: 35%;
    margin-right: 2%;
    text-align: right;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-left: 5%;
}

h1 {
    text-align: center;
    font-size: 24pt;
}

.gallery-img {
    width: 100%;
}

#intro {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 90%;
}

footer {
    background-color: rgb(237, 236, 224);
    clear: both;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.title-size {
    font-size: 14pt;
    width: 20%;
    padding: 20px;
}

#resume {
    float: right;
}

header {
    background-color: rgb(237, 236, 224);
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
}

button {
    background-color: white;
    width: 33.33%;
}

button:hover {
    background-color: rgb(237, 236, 224);
    color: rgb(28, 66, 71);
}

aside {
    padding: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #000;
    color: white;
    display: none;
    opacity: .90;
    width: 100%;
}

aside p {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: left-align;
    width: 70%;
}

aside h2 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#close_1 {
    position: absolute;
    top: 10%;
    right: 30px;
    font-size: 20pt;
}
